<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h3>Name: <%= product.name %></h3>
        <h3>Age: <%= product.price %></h3>
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <h3>Password: <%= product.desc %></h3>
    </div>
    
</body>
</html>