<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/product/newproduct">Add new product</a>
    <div class="container">
       <% for(let product of products){ %>
            <div class="card">
                <h3>Name: <%=product.name%></h3>
                <P>Price: <%=product.price%></P>
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <P style="font-weight: 400;">Desc: <%=product.desc%></P>
                <button><a href="/products/<%= product.id %>">Show</a></button>
                </form>
            </div>
       <% } %>
    </div>
</body>
</html>