<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/user/new">Add new user</a>
    <div class="container">
       <% for(let user of users){ %>
            <div class="card">
                <h3>Name: <%=user.name%></h3>
                <P>Age: <%=user.age%></P>
                <P>City: <%=user.city%></P>
                <button><a href="/users/<%= user.id %>">Show</a></button>
                <button><a href="/users/<%= user.id %>/edit">Edit</a></button>
                <form action="/users/<%=user.id%>?_method=delete" method="post">
                    <button style="margin-top: 5px;">Delete</button>
                </form>
            </div>
       <% } %>
    </div>
</body>
</html>